h1{
    color: darkred;
    text-align: center;
    font-family: inherit;
    padding-top: 15px;

}

pre{
    height:auto;
    width: 70px;
    color: darkred;;
    text-align: left;
    padding-left: 30px;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 21px;
}

p2{
    font-size:18px;
    color: darkred;
    font-family: inherit;
    padding-right: 30px;
}

.sidenav{
    width: 431px;
    position:fixed;
    z-index: 1;
    top: 1;
    left: 45px;
    background-color: antiquewhite;
    overflow-x: hidden;
}

.sidenav2{
    height: auto;
    width: 1020px;
    position:fixed;
    z-index: 1;
    top: 1;
    left: 520px;
    background-color: antiquewhite;
    overflow-x: hidden;
}

img{
    width: 100%;
}


h2{
    font-size: 30px;
    color: darkred;
    text-align-last: left;
    padding-left: 30px;
    font-family: inherit;
}

h3{
    padding-top: 30px;
    padding-left: 60px;
    font-family:sans-serif;
    font-weight:bolder;
    padding-bottom: 30px;
}



h4{
    font-size: 19px;
    padding-left: 300px;
    padding-top: 40px;
    font-family:sans-serif;
    font-weight:bolder;
    word-spacing: 100px;
}


body{
    background-color: lavenderblush;
    
}

a{
    color: red;
    
}


img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    max-width: 100%
        
}


div{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

h5{
    font-size:30px;
    color: mediumvioletred;
    text-align: center;
    padding-left:275px;
    
}

header, footer{
    background-color: lightgoldenrodyellow;
    text-align: center;
    padding: 1px;
    
}